.accordion {
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 100%;


  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    background-color: #f7f7f7;
    font-weight: bold;
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      border: solid #333;
      border-width: 0 0.125rem 0.125rem 0;
      transition: transform 0.2s ease-in-out;
      transform-origin: center;

      &.icon-minus {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  &-content {
    padding: 1rem;
    background-color: #fff;
  }
}
